{
  "presets": [
    ["env", {
      "modules": false,
      "presets": ["env","stage-2","@vue/app","@babel/preset-env"]
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime",["component", [
    {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-chalk"
    }
  ]]],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env","stage-2","@vue/app"],
      "plugins": [ "istanbul" ]
    }
  }
}
